body {
    background-color: rgb(245, 245, 250); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif; 
    color: rgb(50, 50, 50); 
}

#todo-input {
    width: 80%;
    border-radius: 30px;
    padding: 10px;
    font-size: large;
    font-family: "Inter", sans-serif;
    border: solid 1px;
    border-color: rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;

}

#todo-input:focus {
    outline: none;
    border-color: rgb(120, 92, 255); 
    box-shadow: 0 0 8px rgba(120, 92, 255, 0.5);
    margin-left: 20px;
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

button {
    border-radius: 12px;
    padding: 8px 12px;
    border: none;
    background-color: rgb(120, 92, 255); 
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(90, 70, 220);
    box-shadow: 0px 4px 8px rgba(120, 92, 255, 0.3);
}

button img {
    height: auto;
    width: 25px;
}

.main {
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
    width: 30%;
    height: 60%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); 
}

#no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    color: rgb(120, 120, 120);
}

.checked {
    text-decoration: line-through;
    color: rgb(180, 180, 180);
}

svg {
    color: rgb(50, 50, 50);
    height: 20px;
    width: auto;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid rgb(230, 230, 230);
}

li:last-child {
    border-bottom: none;
}

li label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 70%;
    overflow: hidden;
}

li p {
    width: 60%;
}

ul {
    display: block;
    padding-inline-start: 0;
}

#content-container {
    height: 70%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.delete {
    background-color: transparent;
    color: rgb(200, 0, 0);
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete:hover {
    color: rgb(255, 50, 50);
}
